
/* FUENTES:
 'Share Tech Mono', monospace;  
 'Roboto Condensed', sans-serif; 
  'Oswald', 'sans-serif';*/

/* Header */

.logo {
   
   height: 80px;
   width: 52;
   margin: 15px;
   
}

.logo:hover {
   animation: logo infinite 2s;
}

@keyframes logo {
    0% {transform:rotateY(0deg)}
    50% {transform:rotateY(180deg)}
    100% {transform:rotateY(360deg)}
}

.nombreEstudio {
          
    color:#D80032 ;
    font-size: 100px;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-weight: bolder;
    font-style: italic;

}

header {
    background-image: url(../img/2_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
     margin: 0;
     width: 100%; 
    grid-area: Header;

}



/* Nav */

nav {
    width: 100%;
    grid-area: Nav;
    margin:0;
    position: relative;
    
}


.menu {
    background-color:#660708;
    font-size: 20px;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif; 
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 11% 11% 11% 11% 11% 45%;
    justify-items: center;
    align-items: center;
    
  

}

.menu ul {
     position:absolute;
     display: none;
     
}

.menu ul li {
    display:block;
}

.menu a {
    text-decoration: none;
    color:#f5f3f4;
}

.menu li {
    margin:0;
    padding-bottom:5px;
    text-align: center;  
    transition: border-bottom 0.5s; 

 
}
 

.menu li:hover ul {
    display:block;
    background-color: #660708;
    left:22%;
    top:45px;
    margin:0;
    width:156px;
    padding:27px 27px 5px 27px; 
    z-index: 10000 ;
    
 
}

.menu li:hover ul li {
    padding:20px;
}
 /*-----*/

 .menu li:hover {
     border-bottom: 1px solid white;   
 }

  .menu li:active {
    padding: 0;
  }




/* General */

body {
    margin: 0;
    padding: 0;

}

p {
    color:#161a1d;
    font-size: 20px;
    font-family:  'Oswald', 'sans-serif';
    word-spacing: 3px;
    line-height: 35px;


}

h1 {
    color: #161a1d;
    font-size: 40px;
    font-family:'Share Tech Mono', monospace; 
    text-align: center;
}

h2 {
    color:#ba181b;
    text-align:center;
    font-size:40px;
    font-family:'Share Tech Mono', monospace;
    margin: 0;
}

hr {
    margin: 15px;
}

main {
    margin-top: 50px;
}


/* Cuerpo de index*/

#grillaIndex {
    margin:0;
    height: 2500px;
    width: 100%;
    display:grid;
    grid-template-rows: 14% 2% 82% 2%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}

section {
    grid-area: Section;
    margin-top: 50px;
}


#contenedorArticle { 
        margin:0;
        height: auto; 
        display:flex;
        flex-flow: column nowrap;
        row-gap: 70px; 
                            
                    }


#carouselExampleControls {
    max-width: 950px;
    display:flex;
    justify-content: center;
     align-items: center;
    margin:auto
}


.contenedor {
    height: 600px;
    width: 100%; 
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:13% 87%;
    grid-template-areas: 
                        "titulo titulo"
                        "imagen texto";
    align-items: center;
    justify-items: center;                                          

}


.contenedor__titulo {
    grid-area: titulo;
    margin-top:20px;
}

.contenedor__texto {
    width: 800px;
    height: 300px;
    grid-area: texto;
    justify-self:center;
   
    
}

.contenedor__img {
    
    grid-area: imagen;
    height: 450px;
    width: 675px;
    padding:0;
    border:2px solid #ba181b;
}

.contenedor__img:hover {
    transform: scale(0.95);
    border: 3px solid grey;
    
}

#seccionMedia {
    display:grid;
    height: 350px;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "grabaciones"
                         "contenidoMedia";
    margin:15px;
    justify-items: center;
    align-items: center;
    background-color: #8D99AE;
}

#tituloGrabaciones {
    grid-area: grabaciones;
    margin:0;
}

#seccionMedia p {
    margin:25px;
}



/* Cuerpo de Nosotros*/

#grillaNosotros {
    margin:0;
    height: 1500px;
    width: 100%;
    display:grid;
    grid-template-rows: 28% 4% 64% 4%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Main"
                        "Footer"
}



/* Cuerpo de Productos*/

#grillaProductos {
    margin:0;
    height: 3350px;
    width: 100%;
    display:grid;
    grid-template-rows: 12.55% 1.79% 83.71% 1.95%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}


/* Cuerpo de Preguntas Frecuentes*/

#grillaPreguntas {
    margin:0;
    height: 3500px;
    width: 100%;
    display:grid;
    grid-template-rows: 12% 1.71% 84.58% 1.71%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}



/*Cuerpo de Contacto*/

#grillaContacto {
    margin:0;
    height: 2000px;
    width: 100%;
    display:grid;
    grid-template-rows: 21% 3% 73% 3%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}

form {
    display:flex;
    justify-content: center ;
    margin:40px;

}

fieldset {
    width:500px;
    height:850px;
    margin:50px;
    text-align: center;
    border:1px solid #8D99AE;
    margin: 0;
    padding: 0;
    
  
}



legend {
    font-size: 26px;
    color:#BA181B;
    font-family: 'Roboto Condensed', sans-serif;
    
}

label {
    color:#E5383B;
    font-family:  'Oswald', 'sans-serif';
    letter-spacing: 1px;
    font-weight: bolder;
    display:block;
    font-size: 20px;
    margin-bottom:10px;


}

input  {
    
    font-family: 'Oswald', 'sans-serif';
    height: 30px;
    width:350px;
    border:1px solid #8D99AE;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: none;
    
}

input:hover {
    transform:scale(1.1) translate(5%, 3%);
    border-bottom: 1px solid #161a1d;
}

#checkbox {
    padding:0;
    margin:0;
    height:20px;
    width: 20px;

}

#novedades{
    font-size: 15px;
    padding:0;
    margin:0;
    display:inline-block;
    


}
.etiquetaDos{
    display:inline-block;
    color:#8D99AE;
    font-size: 15px;
    margin: 10px;
    padding:0;
}

.etiquetaDos:hover {
    color:#161a1d;
}

.radio {
    height: 15px;
    width: 15px;
    display:inline-block;
    background-color: transparent;
}

select {
    outline: none;
}

select:hover {
    transform:scale(1.1) translate(5%, 3%);
    border:1px solid #161a1d;
}

select, option {
    color:#8D99AE;
    font-size:15px ;
    font-family:'Share Tech Mono', monospace;
    height:30px;
    width:360px;
    background-color: transparent;
    border:1px solid #8D99AE;
}

textarea {
    min-height: 200px;
    min-width: 350px;
    background-color: transparent;
    border: 1px solid #8D99AE;
    outline: none;
}

textarea:hover{
    box-shadow: 2px 2px 3px #161a1d;
}

.boton {
    color:#f5f3f4;
    font-family: 'Oswald', 'sans-serif';
    font-weight: bolder;
    background-color:#ba181b;
    letter-spacing: 1px;
    font-size: 15px;
    height: 30px;
    width: 80px;
    display: inline-block;
    margin: 10px 20px 0 20px;
    border: none;
    box-shadow: 1px 2px 2px black;
    
}

.boton:hover{
    transform:translateY(-2px);
    box-shadow: 2px 3px 2px black;
}

.boton:active {
    border:none;
    transform:translateY(1px)
}



/* Footer */

footer {
    background-image:linear-gradient(to right, #660708, #ba181b) ;
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: Footer;


}

footer p {
    color:#B1A7A6;
    font-size:22px;
    font-family:'Roboto Condensed', sans-serif ;
    padding-left: 15px;
   
    
}

.redesSociales {
    color:#8D99AE;
    font-size: 15px;
    list-style: none;
    margin:0;
    padding-right: 15px ;
    width: 10%;
    display:flex;
    flex-flow: row;
    column-gap:10px;
    justify-content: space-evenly;
    
}



.redesSociales a img{
    height: 30px;
    width:30px;
}

#facebook{
    animation: redes infinite 4s;
    
}

#linkedIn {
    animation: redes infinite 4s;
    animation-delay: 0.2s;
}

#twitter {
    animation: redes infinite 4s;
    animation-delay: 0.4s;
}

#instagram {
    animation: redes infinite 4s;
    animation-delay: 0.6s;
}
@keyframes redes {
    0% {transform:rotateY(0deg)}
    50% {transform:rotateY(180deg)}
    100% {transform:rotateY(360deg)}

}