@media only screen and (min-width: 1541px) and (max-width: 1660px) {
  footer .redesSociales {
    padding: 0 20px 0 20px;
    width: 20%;
    justify-content: space-evenly; }
    footer .redesSociales li {
      margin: 5px; } }

/*--------------------------MEDIA QUERY LAPTOP -----------------------------------*/
@media only screen and (min-width: 1225px) and (max-width: 1540px) {
  /*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/
  /*HEADER*/
  header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px; }
    header .nombreEstudio {
      font-size: 60px; }
  /*FIN HEADER*/
  /*FOOTER*/
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "derechos" "redesSociales";
    justify-items: center;
    align-items: center;
    height: 18.5vh; }
    footer p {
      font-size: 14px;
      margin: 0;
      padding: 0; }
    footer .redesSociales {
      padding: 0 20px 0 20px;
      width: 50%;
      justify-content: space-evenly; }
      footer .redesSociales li {
        margin: 5px; }
      footer .redesSociales__img {
        height: 35px;
        width: 35px; }
  /*FIN FOOTER*/
  /*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
    height: 2200px;
    grid-template-rows: 6% 2.7% 89% 3%; }
  #contenedorArticle {
    margin: 0;
    height: auto;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 40%  12.9% 3.9%;
    grid-template-columns: 100%;
    grid-template-areas: "textoIndex" "seccionMedia" "seccionImg"; }
  .contenedor {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 30px; }
    .contenedor__img {
      height: auto;
      max-width: 90%;
      padding: 0;
      margin: 0; }
    .contenedor__texto {
      max-width: 100%;
      height: auto; }
  .contenedorMedio {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 30px; }
    .contenedorMedio__titulo {
      margin: 0; }
    .contenedorMedio__texto {
      height: 100%; }
  #seccionimg {
    margin-top: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 6% 94%;
    grid-template-areas: "estudio" "carousel";
    grid-column-gap: 0;
    grid-area: seccionImg;
    height: 100%;
    justify-items: center;
    align-items: center; }
  /*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/
  #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%; }
  /*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/ }

/*------------------------MEDIA QUERY TABLET / LAPTOP------------------------- */
@media only screen and (min-width: 901px) and (max-width: 1224px) {
  /*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/
  /*HEADER*/
  header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px; }
    header .nombreEstudio {
      font-size: 60px; }
  /*FIN HEADER*/
  /*FOOTER*/
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "derechos" "redesSociales";
    justify-items: center;
    align-items: center; }
    footer p {
      font-size: 14px;
      margin: 0;
      padding: 0; }
    footer .redesSociales {
      padding: 0 20px 0 20px;
      width: 50%;
      justify-content: space-evenly; }
      footer .redesSociales li {
        margin: 5px; }
      footer .redesSociales__img {
        height: 35px;
        width: 35px; }
  /*FIN FOOTER*/
  /*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
    height: 2500px;
    grid-template-rows: 11% 2.33% 84% 3%; }
  #contenedorArticle {
    margin: 0;
    height: auto;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 42%  20.9% 26.9%;
    grid-template-columns: 100%;
    grid-template-areas: "textoIndex" "seccionMedia" "seccionImg"; }
  .contenedor {
    margin: 40px 0 40px 0;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    grid-area: textoIndex; }
    .contenedor__img {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/
      height: auto;
      padding: 0;
      margin: 0; }
    .contenedor__texto {
      padding: 15px; }
  .contenedorMedio {
    margin: 20px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    grid-area: seccionMedia; }
    .contenedorMedio__titulo {
      margin: 0; }
    .contenedorMedio__texto {
      height: 100%;
      height: 50%;
      padding: 15px;
      text-align: center; }
  #seccionimg {
    margin-top: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "estudio" "carousel";
    grid-column-gap: 0;
    grid-area: seccionImg;
    height: 100%;
    justify-items: center;
    align-items: center; }
    #seccionimg #carouselExampleControls {
      max-width: 80%; }
  /*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/
  #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%; }
  /*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/ }

/*---------------------MEDIA QUERY TABLET -----------------------*/
@media only screen and (min-width: 650px) and (max-width: 900px) {
  /*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/
  /*HEADER*/
  header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo {
      display: none; }
    header .nombreEstudio {
      font-size: 35px; }
  /*FIN HEADER*/
  /*FOOTER*/
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "derechos" "redesSociales";
    justify-items: center;
    align-items: center; }
    footer p {
      font-size: 22px;
      margin: 0;
      padding: 0; }
    footer .redesSociales {
      padding: 0 20px 0 20px;
      width: 50%;
      justify-content: space-evenly; }
      footer .redesSociales li {
        margin: 5px; }
      footer .redesSociales__img {
        height: 35px;
        width: 35px; }
  /*FIN FOOTER*/
  /*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
    height: 2500px;
    grid-template-rows: 5% 9% 85% 3%; }
  #contenedorArticle {
    margin: 0;
    height: auto;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 46%  22.9% 10.9%;
    grid-template-columns: 100%;
    grid-template-areas: "textoIndex" "seccionMedia" "seccionImg"; }
  .contenedor {
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px; }
    .contenedor__img {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/
      height: auto;
      padding: 0;
      margin: 0; }
    .contenedor__texto {
      padding: 20px;
      max-width: 100%;
      height: 100%; }
  .contenedorMedio {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px; }
    .contenedorMedio__titulo {
      grid-area: grabaciones;
      margin: 0; }
    .contenedorMedio__texto {
      height: 100%;
      padding: 20px; }
  #seccionimg {
    margin-top: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 6% 94%;
    grid-template-areas: "estudio" "carousel";
    grid-column-gap: 0;
    grid-area: seccionImg;
    height: 100%;
    justify-items: center;
    align-items: center; }
    #seccionimg #carouselExampleControls {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/ }
  /*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/
  #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%; }
  /*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/ }

/*---------- MEDIA QUERY  MOBILE L / KINDLE  de 401 a 635 --------------*/
@media only screen and (min-width: 513px) and (max-width: 649px) {
  /*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/
  /*HEADER*/
  header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo {
      display: none; }
    header .nombreEstudio {
      font-size: 35px; }
  /*FIN HEADER*/
  /*FOOTER*/
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "derechos" "redesSociales";
    justify-items: center;
    align-items: center; }
    footer p {
      font-size: 22px;
      margin: 0;
      padding: 0; }
    footer .redesSociales {
      padding: 0;
      width: 100%;
      justify-content: center; }
      footer .redesSociales li {
        margin: 5px; }
      footer .redesSociales__img {
        height: 35px;
        width: 35px; }
  /*FIN FOOTER*/
  /*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
    height: 2300px;
    grid-template-rows: 5% 9% 83% 3%; }
  #contenedorArticle {
    margin: 0;
    height: 100%;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 45%  25.9%  28.7%;
    grid-template-columns: 100%;
    grid-template-areas: "textoIndex" "seccionMedia" "seccionImg";
    justify-items: center; }
  .contenedor {
    height: 100%;
    max-width: 95.5%;
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px; }
    .contenedor__img {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/
      height: auto;
      padding: 0;
      margin: 0; }
    .contenedor__texto {
      padding: 10px;
      max-width: 100%;
      height: auto;
      font-size: 18px; }
  .contenedorMedio {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 20px; }
    .contenedorMedio__titulo {
      margin: 0; }
    .contenedorMedio__texto {
      height: 100%;
      font-size: 18px; }
  #seccionimg {
    display: flex;
    flex-flow: column nowrap;
    grid-area: seccionImg;
    height: 100%;
    justify-items: center;
    align-items: center; }
    #seccionimg #carouselExampleControls {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/ }
  /*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/
  #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%; }
  /*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/ }

/*------- -------------MEDIA QUERY CELULAR S / M ----- ---------- ---------*/
@media only screen and (min-width: 300px) and (max-width: 512px) {
  /*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/
  /*HEADER*/
  header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo {
      display: none; }
    header .nombreEstudio {
      font-size: 35px; }
  /*FIN HEADER*/
  /*FOOTER*/
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "derechos" "redesSociales";
    justify-items: center;
    align-items: center; }
    footer p {
      font-size: 16px;
      margin: 0;
      padding: 0; }
    footer .redesSociales {
      padding: 0;
      width: 100%;
      justify-content: center; }
      footer .redesSociales li {
        margin: 5px; }
      footer .redesSociales__img {
        height: 35px;
        width: 35px; }
  /*FIN FOOTER*/
  /*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
    height: 2500px;
    grid-template-rows: 5% 9% 83% 3%; }
  #contenedorArticle {
    margin: 0;
    height: auto;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 45.3%  28.3% 26.3%;
    grid-template-columns: 100%;
    grid-template-areas: "textoIndex" "seccionMedia" "seccionImg"; }
  .contenedor {
    height: 100%;
    max-width: 100%;
    margin-top: 45px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    grid-area: textoIndex; }
    .contenedor__img {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/
      height: auto;
      padding: 0;
      margin: 0; }
    .contenedor__texto {
      max-width: 100%;
      height: auto;
      padding: 15px;
      font-size: 16px; }
  .contenedorMedio {
    height: 80%;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px; }
    .contenedorMedio__titulo {
      margin: 0; }
    .contenedorMedio__texto {
      height: 100%;
      font-size: 16px; }
  #seccionimg {
    display: flex;
    flex-flow: column nowrap;
    grid-area: seccionImg;
    min-height: 90%;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px; }
    #seccionimg #carouselExampleControls {
      max-width: 90%;
      /*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/ }
  /*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/
  /*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/
  #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%; }
  /*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/ }

/*____________INDEX_______________*/
#grillaIndex {
  margin: 0;
  height: 2500px;
  width: 100%;
  display: grid;
  grid-template-rows: 14% 2% 82% 2%;
  grid-template-columns: 100%;
  grid-template-areas: "Header" "Nav" "Section" "Footer"; }

#contenedorArticle {
  grid-area: Section;
  margin: 0;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 70px; }

.contenedor {
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13% 87%;
  grid-template-areas: "titulo titulo" "imagen texto";
  align-items: center;
  justify-items: center; }
  .contenedor__titulo {
    grid-area: titulo;
    margin-top: 20px; }
  .contenedor__texto {
    width: 800px;
    height: 300px;
    grid-area: texto;
    justify-self: center; }
  .contenedor__img {
    grid-area: imagen;
    height: 450px;
    width: 675px;
    padding: 0; }

.contenedorMedio {
  display: grid;
  height: 350px;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "grabaciones" "contenidoMedia";
  margin: 0;
  justify-items: center;
  align-items: center;
  background-color: #f3f4f5; }
  .contenedorMedio__titulo {
    grid-area: grabaciones;
    margin: 0; }
  .contenedorMedio__texto {
    padding: 30px; }

#carouselExampleControls {
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

/*--------FIN INDEX--------------*/
/*____________ NOSOTROS____________*/
#grillaNosotros {
  margin: 0;
  height: 1500px;
  width: 100%;
  display: grid;
  grid-template-rows: 28% 4% 64% 4%;
  grid-template-columns: 100%;
  grid-template-areas: "Header" "Nav" "Main" "Footer"; }

.quienesSomos {
  margin: 15px;
  height: 500px;
  width: 99%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
  grid-template-areas: "quienesSomos" "texto"; }
  .quienesSomos__titulo {
    color: #161a1d;
    font-size: 40px;
    font-family: "Share Tech Mono", monospace;
    text-align: center; }
  .quienesSomos__contenido {
    color: #161a1d;
    font-size: 20px;
    font-family: "Oswald", "sans-serif";
    word-spacing: 3px;
    line-height: 35px;
    margin: 15px; }

.nuestrosServicios {
  margin: 15px;
  height: 300px;
  width: 99%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
  grid-template-areas: "nuestrosServicios" "texto";
  justify-items: center;
  align-items: center; }
  .nuestrosServicios__titulo {
    color: #ba181b;
    text-align: center;
    font-size: 40px;
    font-family: "Share Tech Mono", monospace;
    margin: 0;
    color: #D80032;
    font-size: 25px; }
  .nuestrosServicios__lista {
    color: #ba181b;
    font-size: 22px;
    font-family: "Share Tech Mono", monospace;
    list-style: url(../img/rsz_next.png);
    list-style-position: inside; }

/*---------FIN NOSOTROS--------------*/
/*_____________PREGUNTAS FRECUENTES______________*/
#grillaPreguntas {
  margin: 0;
  height: 3500px;
  width: 100%;
  display: grid;
  grid-template-rows: 12% 1.71% 84.58% 1.71%;
  grid-template-columns: 100%;
  grid-template-areas: "Header" "Nav" "Section" "Footer"; }

.preguntas {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .preguntas__titulo {
    grid-area: preguntas; }
  .preguntas__lista {
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
    width: 300px;
    margin-bottom: 50px;
    grid-area: listadoPreguntas; }
    .preguntas__lista:hover {
      color: #8D99AE; }
    .preguntas__lista:active {
      text-shadow: 1px 2px 2px #161a1d; }
  .preguntas__item a {
    text-decoration: none;
    color: #E5383B; }

.respuestas__contenido {
  margin: 20px; }

.respuestas__titulo {
  color: #ba181b;
  text-align: center;
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
  margin: 0;
  text-align: left; }

.respuestas__volver {
  color: #161a1d;
  font-size: 20px;
  font-family: "Oswald", "sans-serif";
  word-spacing: 3px;
  line-height: 35px;
  color: #ba181b;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  justify-content: flex-end; }
  .respuestas__volver:hover, .respuestas__volver:active {
    text-shadow: 1px 1px 2px #161a1d; }
  .respuestas__volver:active {
    transform: translateY(3px); }

.respuestas__titulo--sub {
  font-family: "Share Tech Mono", monospace;
  color: #E5383B;
  font-size: 18px; }

/*---------FIN PREGUNTAS FRECUENTES--------------*/
/*________________PRODUCTOS___________________*/
#grillaProductos {
  margin: 0;
  height: 3350px;
  width: 100%;
  display: grid;
  grid-template-rows: 12.55% 1.79% 83.71% 1.95%;
  grid-template-columns: 100%;
  grid-template-areas: "Header" "Nav" "Section" "Footer"; }

.carouselSintes, .carouselSintes #carouselExampleDark {
  max-width: 400px;
  height: 400px;
  margin: auto; }
  .carouselSintes .carousel-caption, .carouselSintes #carouselExampleDark .carousel-caption {
    position: absolute;
    top: 250px;
    margin: 0;
    padding: 0; }

.carouselMicros, .carouselMicros #carouselDeMicros {
  max-width: 235px;
  height: 390px;
  margin: auto; }
  .carouselMicros .carousel-item, .carouselMicros #carouselDeMicros .carousel-item {
    height: 390px; }
  .carouselMicros .carousel-caption, .carouselMicros #carouselDeMicros .carousel-caption {
    position: absolute;
    top: 225px;
    margin: 0;
    padding: 0; }

.reviews {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px; }
  .reviews iframe {
    height: 405px;
    width: 720px; }

/*--------------FIN PRODUCTOS---------------*/
/*________________CONTACTO___________________*/
#grillaContacto {
  margin: 0;
  height: 2000px;
  width: 100%;
  display: grid;
  grid-template-rows: 21% 3% 73% 3%;
  grid-template-columns: 100%;
  grid-template-areas: "Header" "Nav" "Section" "Footer"; }

form {
  display: flex;
  justify-content: center;
  margin: 40px; }
  form fieldset {
    width: 500px;
    height: 1200px;
    margin: 50px;
    text-align: center;
    border: 1px solid #8D99AE;
    margin: 0;
    padding: 0; }
    form fieldset legend {
      padding: 20px;
      font-size: 26px;
      color: #ba181b;
      font-family: 'Roboto Condensed', sans-serif; }
    form fieldset label {
      color: #E5383B;
      font-family: 'Oswald', 'sans-serif';
      letter-spacing: 1px;
      font-weight: bolder;
      display: block;
      font-size: 20px;
      margin-bottom: 10px; }
    form fieldset input {
      font-family: 'Oswald', 'sans-serif';
      height: 30px;
      width: 350px;
      border: 1px solid #8D99AE;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      outline: none; }
      form fieldset input:hover {
        border-bottom: 1px solid #161a1d; }
    form fieldset .radio {
      height: 15px;
      width: 15px;
      display: inline-block;
      background-color: transparent; }
    form fieldset select {
      outline: none; }
      form fieldset select:hover {
        border: 1px solid #161a1d; }
    form fieldset select, form fieldset option {
      color: #8D99AE;
      font-size: 15px;
      font-family: 'Share Tech Mono', monospace;
      height: 30px;
      width: 360px;
      background-color: transparent;
      border: 1px solid #8D99AE; }
    form fieldset textarea {
      min-height: 200px;
      min-width: 350px;
      background-color: transparent;
      border: 1px solid #8D99AE;
      outline: none; }
    form fieldset .boton {
      color: #f3f4f5;
      font-family: 'Oswald', 'sans-serif';
      font-weight: bolder;
      background-color: #ba181b;
      letter-spacing: 1px;
      font-size: 15px;
      height: 30px;
      width: 80px;
      display: inline-block;
      margin: 10px 20px 0 20px;
      border: none;
      box-shadow: 1px 2px 2px #161a1d; }
      form fieldset .boton:hover {
        transform: translateY(-2px);
        box-shadow: 2px 3px 2px #161a1d; }
      form fieldset .boton:active {
        border: none;
        transform: translateY(1px); }
    form fieldset #checkbox {
      padding: 0;
      margin: 0;
      height: 20px;
      width: 20px; }
    form fieldset #novedades {
      font-size: 15px;
      padding: 0;
      margin: 0;
      display: inline-block; }
    form fieldset .etiquetaDos {
      display: inline-block;
      color: #8D99AE;
      font-size: 15px;
      margin: 10px;
      padding: 0; }
      form fieldset .etiquetaDos:hover {
        color: #161a1d; }

/*---------------FIN CONTACTO--------------*/
