$gap: 10px;

@mixin maxAncho {
 max-width: 90%;
     

/*------------------------MEDIA QUERY PANTALLA GRANDE----------------------*/

}
@media only screen and (min-width: 1541px) and (max-width: 1660px) {

footer {
 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 20%;
    justify-content: space-evenly;  
    li { margin: 5px;}

  }

  } 



/*---------------------------------------------------------------
                             CONTACTO
---------------------------------------------------------------*/  



#form {
    grid-template-columns: 100%;
    grid-template-rows:repeat(8, 1fr);
    grid-template-areas:
                         "nombre"
                         "apellido"
                         "servicio"
                         "formacion"
                          "mail"
                          "consulta"
                          "novedades"
                          "submit";
    max-width:60%;
    height: 1200px;
    row-gap:5px;
}






/*---------------------------------------------------------------
                           FIN CONTACTO
---------------------------------------------------------------*/  
}

/*--------------------------MEDIA QUERY LAPTOP -----------------------------------*/ 

@media only screen and   (min-width:1225px) and (max-width:1540px) {
/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
        display: block;
        position:absolute;
        top:10px;
        left:10px;
           }    

.nombreEstudio { 
         font-size: 60px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {

    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;
    height:18.5vh;

   p {
    font-size:14px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: space-evenly; 
    

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 2200px;
        grid-template-rows: 6% 2.7% 89% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        row-gap: $gap;
        grid-template-rows: 40%  12.9% 3.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "seccionMedia"
                            "seccionImg"
                            
                    }

.contenedor {
     height: 100%;
     max-width: 100%;
     display:flex;
     flex-flow:column nowrap;
     row-gap: 30px;
    

    &__img {
    
    height: auto;
    max-width: 90%;
    padding:0;
    margin:0;
           } 


    &__texto { 
     max-width: 100%;
     height:auto;
     
             }

             }   

.contenedorMedio {
    height: 100%;
    display:flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 30px;


    &__titulo {
    margin:0;
}


    &__texto {
    height:100%;

}




}


#seccionimg{
    margin-top: 20px;
    grid-template-columns:100%;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
                         "estudio"
                        "carousel";
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;
 }


/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

/*---------------------------------------------------------------
                             CONTACTO
---------------------------------------------------------------*/  



#form {
    grid-template-columns: 100%;
    grid-template-rows:repeat(8, 1fr);
    grid-template-areas:
                         "nombre"
                         "apellido"
                         "servicio"
                         "formacion"
                          "mail"
                          "consulta"
                          "novedades"
                          "submit";
    max-width:60%;
    height: 1200px;
    row-gap:5px;
}






/*---------------------------------------------------------------
                           FIN CONTACTO
---------------------------------------------------------------*/ 




}



/*------------------------MEDIA QUERY TABLET / LAPTOP------------------------- */
@media only screen and   (min-width:901px)and (max-width:1224px) {
/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   
           $padding15: 15px;

/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
        display: block;
        position:absolute;
        top:10px;
        left:10px;
           }    

.nombreEstudio { 
         font-size: 60px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:14px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: space-evenly; 

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
         height: 2500px;
        grid-template-rows: 11% 2.33% 84% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        row-gap: $gap;
        grid-template-rows: 42%  20.9% 26.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "seccionMedia"
                            "seccionImg" 
                            
                    }

.contenedor {
     margin: 40px 0 40px 0;
     height: 100%;
     max-width: 100%;
     display:flex;
     flex-flow:column;
     row-gap: 20px;
     grid-area: textoIndex;
    

    &__img {
    @include maxAncho;
    height: auto;
    padding:0;
    margin:0;
           } 


    &__texto {
    padding:$padding15; 
     
             }

             }   

.contenedorMedio {
    margin: 20px;
    height: 100%;
    display:flex;
    flex-flow:column nowrap; 
    row-gap: 20px;
    grid-area: seccionMedia;


    &__titulo {
    margin:0;
}


    &__texto {
    height:100%;
    height:50%;
    padding: $padding15;
    text-align: center;

}




}


#seccionimg{
    margin-top:20px;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
                         "estudio"
                        "carousel";
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;

    #carouselExampleControls {
         max-width: 80%;
 }
}


/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

/*---------------------------------------------------------------
                             CONTACTO
---------------------------------------------------------------*/  



#form {
    grid-template-columns: 100%;
    grid-template-rows:repeat(8, 1fr);
    grid-template-areas:
                         "nombre"
                         "apellido"
                         "servicio"
                         "formacion"
                          "mail"
                          "consulta"
                          "novedades"
                          "submit";
    max-width:90%;

    height: 1200px;
    row-gap:5px;
}






/*---------------------------------------------------------------
                           FIN CONTACTO
---------------------------------------------------------------*/ 




}
   


/*---------------------MEDIA QUERY TABLET -----------------------*/
@media only screen and   (min-width:650px)and (max-width:900px) {

    $padding20: 20px;

/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
           display: none;
           }    

.nombreEstudio { 
         font-size: 35px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:22px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: space-evenly; 

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 2500px;
        grid-template-rows: 5% 9% 85% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        row-gap: $gap;
        grid-template-rows: 46%  22.9% 10.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "seccionMedia"
                            "seccionImg" 
                    }

.contenedor {
    margin-top:20px;
    height: 100%; 
    display:flex;
    flex-flow: column nowrap;
    row-gap:20px;
    

    &__img {
    @include maxAncho;
    height: auto;
    padding:0;
    margin:0;
           } 


    &__texto {
     padding:$padding20; 
     max-width: 100%;
     height:100%;
     
             }

             }   

.contenedorMedio {
    height: 100%;
    display:flex;
    flex-flow: column nowrap;
    row-gap: 20px;


    &__titulo {
    grid-area: grabaciones;
    margin:0;
}


    &__texto {
    height:100%;
    padding: $padding20;

}




}


#seccionimg{
    margin-top: 20px;
    grid-template-columns:100%;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
                         "estudio"
                        "carousel";
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;

     #carouselExampleControls {
         @include maxAncho;
     }
 }

/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

/*---------------------------------------------------------------
                             CONTACTO
---------------------------------------------------------------*/  

#grillaContacto {
    height: 2000px;
    grid-template-rows: 15% 1% 73% 3%;
    
    
}

#form {
    grid-template-columns: 100%;
    grid-template-rows:repeat(8, 1fr);
    grid-template-areas:
                         "nombre"
                         "apellido"
                         "servicio"
                         "formacion"
                          "mail"
                          "consulta"
                          "novedades"
                          "submit";
    max-width:86%;
    height: 1200px;
    row-gap:5px;
}






/*---------------------------------------------------------------
                           FIN CONTACTO
---------------------------------------------------------------*/ 


}
    




/*---------- MEDIA QUERY  MOBILE L / KINDLE  de 401 a 635 --------------*/

 @media only screen  and (min-width:513px) and (max-width: 649px) {
      
    $fontML: 18px;

/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
           display: none;
           }    

.nombreEstudio { 
         font-size: 35px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:22px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 ;
    width: 100%;
    justify-content: center;  

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/



/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 2300px;
        grid-template-rows: 5% 9% 83% 3%;
               }  

#contenedorArticle { 
        margin:0;
        height: 100%; 
        display:grid;
        row-gap: $gap;
        grid-template-rows: 45%  25.9%  28.7%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "seccionMedia"
                            "seccionImg";
        justify-items: center;                    
                    

} 


.contenedor {
    height: 100%;
    max-width: 95.5%;
    margin-top:15px;
    display:flex; 
    flex-flow: column nowrap;
    row-gap: 20px;
  
                         
    

    &__img {
    @include maxAncho;
    height: auto;
    padding:0;
    margin:0;
           } 


    &__texto {
     padding:10px; 
     max-width: 100%;
     height:auto;
     font-size: $fontML;
     
             }

             }   



.contenedorMedio {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 20px;

   
    &__titulo {
    margin:0;
}


    &__texto {
    height:100%;
    font-size: $fontML;

}




}


#seccionimg{
    display:flex;
    flex-flow: column nowrap;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;

   #carouselExampleControls {
        @include maxAncho;
    }

 }



/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

/*---------------------------------------------------------------
                             CONTACTO
---------------------------------------------------------------*/  



#form {
    grid-template-columns: 100%;
    grid-template-rows:repeat(8, 1fr);
    grid-template-areas:
                         "nombre"
                         "apellido"
                         "servicio"
                         "formacion"
                          "mail"
                          "consulta"
                          "novedades"
                          "submit";
    max-width:87%;
    height: 1200px;
    row-gap:5px;
}






/*---------------------------------------------------------------
                           FIN CONTACTO
---------------------------------------------------------------*/ 

}




/*------- -------------MEDIA QUERY CELULAR S / M ----- ---------- ---------*/

@media only screen  and (min-width:300px) and (max-width: 512px) {


    $fontS: 16px;

/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
           display: none;
           }    

.nombreEstudio { 
         font-size: 35px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
  
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:$fontS;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 ;
    width: 100%;
    justify-content: center;  

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 


/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/



/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
#grillaIndex {
        height: 2500px;
        grid-template-rows: 5% 9% 83% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        row-gap:$gap;
        grid-template-rows: 45.3%  28.3% 26.3%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "seccionMedia"
                            "seccionImg" ;
                    }

.contenedor {
    height: 100%;
    max-width: 100%;
    margin-top:45px;
    display:flex; 
    flex-flow: column nowrap;
    row-gap: 20px;
    grid-area: textoIndex;
    
  

    &__img {
    @include maxAncho;
    height:auto;
    padding:0;
    margin:0;
           } 


    &__texto {
     max-width: 100%;
     height:auto;
     padding:15px;
     font-size: $fontS;
     
             }

             }   

.contenedorMedio {
    height: 80%;
    padding:15px;
    display:flex;
    flex-flow: column nowrap;
    row-gap: 20px;



    &__titulo {
    margin:0;
}


    &__texto {
    height:100%;
    font-size: $fontS;

}




}

#seccionimg{
    display:flex;
    flex-flow: column nowrap;
    grid-area: seccionImg;
    min-height:90%;
    justify-items:center;
    align-items: center;
    padding-bottom: 20px;

    #carouselExampleControls {
         @include maxAncho;
     }


 }



/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

/*---------------------------------------------------------------
                             CONTACTO
---------------------------------------------------------------*/  



#form {
    grid-template-columns: 100%;
    grid-template-rows:repeat(8, 1fr);
    grid-template-areas:
                         "nombre"
                         "apellido"
                         "servicio"
                         "formacion"
                          "mail"
                          "consulta"
                          "novedades"
                          "submit";
    max-width:90%;
    height: 1350px;
    row-gap:5px;



    .radio {
        display:flex;
        flex-flow: column;
    }

     input, select{
        width: 250px;
    }

    #consulta {
        width: 250px;
        height:200px
    }
}






/*---------------------------------------------------------------
                           FIN CONTACTO
---------------------------------------------------------------*/ 


}