 









/*--------------------------MEDIA QUERY LAPTOP -----------------------------------*/ 

@media only screen and   (min-width:1225px) and (max-width:1540px) {
/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
        display: block;
        position:absolute;
        top:10px;
        left:10px;
           }    

.nombreEstudio { 
         font-size: 60px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;
    height:18.5vh;

   p {
    font-size:14px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: space-evenly; 

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 2500px;
        grid-template-rows: 6% 2.7% 89% 3
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        grid-template-rows: 40%  0.1% 12.9% 0.1% 3.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "hr"
                            "seccionMedia"
                            "hr2"
                            "seccionImg"
                            
                    }

.contenedor {
     height: 100%;
     max-width: 99%;
     display:flex;
     flex-flow:column;
    

    &__img {
    
    height: auto;
    max-width: 90%;
    padding:0;
    margin:0;
           } 


    &__texto {
     grid-area: texto;
     margin-left:10px; 
     max-width: 100%;
     height:100%;
     height:auto;
     
             }

             }   

.contenedorMedio {
    height: 100%;
    grid-template-rows: 8% 92%;
    grid-area: seccionMedia;
    grid-row-gap: 20px;


    &__titulo {
    grid-area: grabaciones;
    margin:0;
}


    &__texto {
    height:100%;

}




}


#seccionimg{
    margin-top: 20px;
    grid-template-columns:100%;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
                         "estudio"
                        "carousel";
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;
 }


/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

}



/*------------------------MEDIA QUERY TABLET / LAPTOP------------------------- */
@media only screen and   (min-width:901px)and (max-width:1224px) {
/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
        display: block;
        position:absolute;
        top:10px;
        left:10px;
           }    

.nombreEstudio { 
         font-size: 60px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:14px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: space-evenly; 

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
         height: 2700px;
        grid-template-rows: 6% 2.33% 89% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        grid-template-rows: 42%  0.1% 22.9% 0.1% 24.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "hr"
                            "seccionMedia"
                            "hr2"
                            "seccionImg" 
                            
                    }

.contenedor {
     height: 100%;
     max-width: 99%;
     display:flex;
     flex-flow:column;
    

    &__img {
    
    height: auto;
    max-width: 99%;
    padding:0;
    margin:0;
           } 


    &__texto {
     grid-area: texto;
     margin-left:10px; 
     max-width: 100%;
     height:100%;
     
             }

             }   

.contenedorMedio {
    height: 100%;
    grid-template-rows: 8% 92%;
    grid-area: seccionMedia;
    grid-row-gap: 20px;


    &__titulo {
    grid-area: grabaciones;
    margin:0;
}


    &__texto {
    height:100%;

}




}


#seccionimg{
    margin-top:20px;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
                         "estudio"
                        "carousel";
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;
 }


/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

}
   


/*------------MEDIA QUERY TABLET -----------------------*/
@media only screen and   (min-width:650px)and (max-width:900px) {

/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
           display: none;
           }    

.nombreEstudio { 
         font-size: 35px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:22px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 20px 0 20px;
    width: 50%;
    justify-content: space-evenly; 

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 

/*FIN FOOTER*/

/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 3000px;
        grid-template-rows: 5% 7% 87% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        grid-template-rows: 46%  0.1% 22.9% 0.1% 10.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "hr"
                            "seccionMedia"
                            "hr2"
                            "seccionImg" 
                    }




.contenedor {
    height: 100%; 
    display:grid; 
    grid-template-columns: 100%;
    grid-template-rows: 7% 38% 55%;                                        
    grid-template-areas:  
                        "titulo"
                        "imagen"
                        "texto" ;
    grid-row-gap:20px;
    

    &__img {
    
    height: auto;
    max-width: 99%;
    padding:0;
    margin:0;
           } 


    &__texto {
     grid-area: texto;
     margin-left:4px; 
     max-width: 100%;
     height:100%;
     
             }

             }   



.contenedorMedio {
    height: 100%;
    grid-template-rows: 8% 92%;
    grid-area: seccionMedia;
    grid-row-gap: 20px;


    &__titulo {
    grid-area: grabaciones;
    margin:0;
}


    &__texto {
    height:100%;

}




}


#seccionimg{
    margin-top: 20px;
    grid-template-columns:100%;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
                         "estudio"
                        "carousel";
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;
 }


/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

}
    




/*---------- MEDIA QUERY  MOBILE L / KINDLE  de 401 a 635 --------------*/

 @media only screen  and (min-width:513px) and (max-width: 649px) {
/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
           display: none;
           }    

.nombreEstudio { 
         font-size: 35px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:22px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 ;
    width: 100%;
    justify-content: center;  

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 





/*FIN FOOTER*/



/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 3500px;
        grid-template-rows: 5% 5% 87% 3%;
               }  

#contenedorArticle { 
        margin:0;
        height: 100%; 
        display:grid;
        grid-template-rows: 50%  0.1% 25.9% 0.3% 23.7%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "hr"
                            "seccionMedia"
                            "hr2"
                            "seccionImg";
        justify-items: center;                    
                    

} 








.contenedor {
    height: 100%;
    max-width: 95.5%;
    margin:5px;
    display:grid; 
    grid-template-columns: 100%;
    grid-template-rows: 5% 30% 65%;                                        
    grid-template-areas:  
                        "titulo"
                        "imagen"
                        "texto" ;
                         
    

    &__img {
    
    height: auto;
    max-width: 99%;
    padding:0;
    margin:0;
           } 


    &__texto {
     grid-area: texto;
     margin-left:4px; 
     max-width: 100%;
     height:auto;
     align-self:start;
     
             }

             }   



.contenedorMedio {
    height: 100%;
    grid-template-rows: 8% 92%;
    margin:40px 15px 0 15px;
    grid-area: seccionMedia;


    &__titulo {
    grid-area: grabaciones;
    margin:0;
}


    &__texto {
    height:100%;

}




}


#seccionimg{
    display:grid;
    margin-top: 20px;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
                         "estudio"
                        "carousel" 
                        ;
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;
 }



/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

}

/*------- -------------MEDIA QUERY CELULAR S / M ----- ---------- ---------*/

@media only screen  and (min-width:300px) and (max-width: 512px) {


/*---------------------------------------------------------------
                             GENERAL
---------------------------------------------------------------*/   


/*HEADER*/
header {
    background-image: url(../img/rsz_22_adi-goldstein-sdtnz4lgbwk-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
     .logo {
           display: none;
           }    

.nombreEstudio { 
         font-size: 35px;     

               } 
   
   
        }

/*FIN HEADER*/



/*FOOTER*/

footer {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
                        "derechos"
                        "redesSociales";
    justify-items: center;
    align-items: center;

   p {
    font-size:22px;
    margin: 0;
    padding:0;
   }

 
  .redesSociales {
    padding: 0 ;
    width: 100%;
    justify-content: center;  

    li { margin: 5px;}

    &__img {
    height:35px;
    width:35px;
    }
  }

  } 





/*FIN FOOTER*/



/*---------------------------------------------------------------
                         FIN GENERAL
---------------------------------------------------------------*/


/*---------------------------------------------------------------
                            INDEX
---------------------------------------------------------------*/
  #grillaIndex {
        height: 4300px;
        grid-template-rows: 5% 6% 86% 3%;
               } 

#contenedorArticle { 
        margin:0;
        height: auto; 
        display:grid;
        grid-template-rows: 49%  0.1% 37.9% 0.1% 12.9%;
        grid-template-columns: 100%;
        grid-template-areas: 
                            "textoIndex"
                            "hr"
                            "seccionMedia"
                            "hr2"
                            "seccionImg" 
                    }








.contenedor {
    height: 100%;
    max-width: 95.5%;
    margin:5px;
    display:grid; 
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 75%;                                        
    grid-template-areas:  
                        "titulo"
                        "imagen"
                        "texto" ;
    

    &__img {
    
    height: auto;
    max-width: 99%;
    padding:0;
    margin:0;
           } 


    &__texto {
     grid-area: texto;
     margin-left:4px; 
     max-width: 100%;
     height:auto;
     
             }

             }   



.contenedorMedio {
    height: 100%;
    grid-template-rows: 8% 92%;
    margin:15px;
    grid-area: seccionMedia;


    &__titulo {
    grid-area: grabaciones;
    margin:0;
}


    &__texto {
    height:100%;

}




}


#seccionimg{
    display:grid;
    margin-top: 20px;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
                         "estudio"
                        "carousel" 
                        ;
    
    grid-column-gap: 0;
    grid-area: seccionImg;
    height:100%;
    justify-items:center;
    align-items: center;
 }



/*---------------------------------------------------------------
                          FIN INDEX
---------------------------------------------------------------*/




/*---------------------------------------------------------------
                          PRODUCTOS
---------------------------------------------------------------*/

    #grillaProductos {
    grid-template-rows: 12.55% 5.79% 80.71% 1.95%;
}

/*---------------------------------------------------------------
                         FIN PRODUCTOS
---------------------------------------------------------------*/

}