@import "responsive";

$techMono: 'Share Tech Mono', monospace;
$oswald:  'Oswald', 'sans-serif';
$roboto: 'Roboto Condensed', sans-serif;
$colorNegro:  #161a1d;
$colorRojoD8:#D80032;
$colorRojoE: #E5383B;
$colorRojoBA: #ba181b;
$colorGris8:#8D99AE;
$colorGrisf: #f3f4f5;



@mixin parrafo{
    color:$colorNegro;
    font-size: 20px;
    font-family:  $oswald;
    word-spacing: 3px;
    line-height: 35px;
}

@mixin subtitulos{
    color: $colorRojoBA;
    text-align:center;
    font-size:40px;
    font-family: $techMono;
    margin: 0;
}


/*____________INDEX_______________*/

#grillaIndex {
    margin:0;
    height: 2500px;
    width: 100%;
    display:grid;
    grid-template-rows: 14% 2% 82% 2%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}

#contenedorArticle { 
        grid-area: Section;
        margin:0;
        height: auto; 
        display:flex;
        flex-flow: column nowrap;
        row-gap: 70px; 
                            
                    }

.contenedor {
    height: 600px;
    width: 100%; 
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:13% 87%;
    grid-template-areas: 
                        "titulo titulo"
                        "imagen texto";
    align-items: center;
    justify-items: center;                                          



    &__titulo {
    grid-area: titulo;
    margin-top:20px;
}

    &__texto {
    width: 800px;
    height: 300px;
    grid-area: texto;
    justify-self:center;
   
    
}

    &__img {
    
    grid-area: imagen;
    height: 450px;
    width: 675px;
    padding:0;
    
}

}


.contenedorMedio {
    display:grid;
    height: 350px;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "grabaciones"
                         "contenidoMedia";
    margin:0;
    justify-items: center;
    align-items: center;
    background-color: $colorGrisf;

   &__titulo {
    grid-area: grabaciones;
    margin:0;
}

&__texto {
    padding: 30px;
} 
}


#carouselExampleControls {
    max-width: 950px;
    display:flex;
    justify-content: center;
     align-items: center;
    margin:auto
}




/*--------FIN INDEX--------------*/

/*____________ NOSOTROS____________*/

#grillaNosotros {
    margin:0;
    height: 1500px;
    width: 100%;
    display:grid;
    grid-template-rows: 28% 4% 64% 4%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Main"
                        "Footer"
}


.quienesSomos {

    margin:15px;
    height: 500px;
      width: 99%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
      grid-template-areas: 
                          "quienesSomos"
                          "texto";
 
    &__titulo {
    color: $colorNegro;
    font-size: 40px;
    font-family: $techMono;
    text-align: center;
              }

    &__contenido {
        @include parrafo;
        margin: 15px;
        
        
    }          
    }  

.nuestrosServicios {
     margin:15px;
    height: 300px;
    width: 99%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
                        "nuestrosServicios"
                        "texto";
    justify-items: center;
    align-items: center;

    &__titulo {

        @include subtitulos;
        color:$colorRojoD8;
        font-size: 25px;
    }

    &__lista {
    color:$colorRojoBA;
    font-size: 22px;
    font-family:$techMono;
    list-style: url(../img/rsz_next.png) ;
    list-style-position: inside;
    
    }
}    

/*---------FIN NOSOTROS--------------*/

/*_____________PREGUNTAS FRECUENTES______________*/

#grillaPreguntas {
    margin:0;
    height: 3500px;
    width: 100%;
    display:grid;
    grid-template-rows: 12% 1.71% 84.58% 1.71%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}

.preguntas {
    display:flex;
    flex-flow: column wrap;
    align-items: center;

    &__titulo { 
        grid-area: preguntas;
    }

    &__lista {
        font-size: 22px;
        font-family: $roboto;
        width:300px;
        margin-bottom:50px;
        grid-area:listadoPreguntas;

        &:hover {
            color:$colorGris8;
        }

        &:active {
            text-shadow: 1px 2px 2px $colorNegro;
        }
    }
     
    &__item a {
    text-decoration: none;
    color:$colorRojoE;
    }
}

.respuestas {
   
    &__contenido {
        margin:20px;
    }

    &__titulo {
         
        @include subtitulos;
         text-align: left;
    }

    &__volver {

     @include parrafo;   
    
     color:$colorRojoBA;
     font-weight: bolder;
     text-decoration: none; 
     display:flex;
     justify-content: flex-end;


     &:hover {
         text-shadow: 1px 1px 2px $colorNegro;
     }
     
     &:active {
         @extend .respuestas__volver:hover;
        transform:translateY(3px)
     }

     }
    

    &__titulo--sub {
        font-family: $techMono;
        color:$colorRojoE;
        font-size: 18px;
    }
  


}

/*---------FIN PREGUNTAS FRECUENTES--------------*/

/*________________PRODUCTOS___________________*/

#grillaProductos {
    margin:0;
    height: 3350px;
    width: 100%;
    display:grid;
    grid-template-rows: 12.55% 1.79% 83.71% 1.95%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}

.carouselSintes {
    max-width: 400px;
    height: 400px;
    margin: auto;


    #carouselExampleDark {
        @extend .carouselSintes;
    }

    .carousel-caption {
    position: absolute;
    top: 250px;
    margin: 0;
    padding: 0;
}
}


.carouselMicros {
    max-width: 235px;
    height: 390px;
    margin: auto;


    #carouselDeMicros {
        @extend .carouselMicros;
    }

    .carousel-item {
       height:390px;
    }

    .carousel-caption {
    position: absolute;
    top: 225px;
    margin: 0;
    padding: 0;
}
}

.reviews{ display:flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;


iframe {
    height: 405px;
    width: 720px;

}

}

/*--------------FIN PRODUCTOS---------------*/

/*________________CONTACTO___________________*/

#grillaContacto {
    margin:0;
    height: 2000px;
    width: 100%;
    display:grid;
    grid-template-rows: 21% 3% 73% 3%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "Header"
                        "Nav"
                        "Section"
                        "Footer"
}

form {
    display:flex;
    justify-content: center ;
    margin:40px;

fieldset {
    width:500px;
    height:1200px;
    margin:50px;
    text-align: center;
    border:1px solid $colorGris8;
    margin: 0;
    padding: 0;
    
    legend {
    padding: 20px;   
    font-size: 26px;
    color:$colorRojoBA;
    font-family: 'Roboto Condensed', sans-serif;
    
}
 
    label {
    color:$colorRojoE;
    font-family:  'Oswald', 'sans-serif';
    letter-spacing: 1px;
    font-weight: bolder;
    display:block;
    font-size: 20px;
    margin-bottom:10px;


}

    
    input  {
    
    font-family: 'Oswald', 'sans-serif';
    height: 30px;
    width:350px;
    border:1px solid $colorGris8;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: none;

    &:hover {
    border-bottom: 1px solid $colorNegro;
}

    
}

    .radio {
    height: 15px;
    width: 15px;
    display:inline-block;
    background-color: transparent;
}


select {
    outline: none;

    &:hover {
    border:1px solid $colorNegro;
}

}


select, option {
    color:$colorGris8;
    font-size:15px ;
    font-family:'Share Tech Mono', monospace;
    height:30px;
    width:360px;
    background-color: transparent;
    border:1px solid $colorGris8;
}

textarea {
    min-height: 200px;
    min-width: 350px;
    background-color: transparent;
    border: 1px solid $colorGris8;
    outline: none;
}

.boton {
    color:$colorGrisf;
    font-family: 'Oswald', 'sans-serif';
    font-weight: bolder;
    background-color:$colorRojoBA;
    letter-spacing: 1px;
    font-size: 15px;
    height: 30px;
    width: 80px;
    display: inline-block;
    margin: 10px 20px 0 20px;
    border: none;
    box-shadow: 1px 2px 2px $colorNegro;

    &:hover{
    transform:translateY(-2px);
    box-shadow: 2px 3px 2px $colorNegro;
}

    &:active {
    border:none;
    transform:translateY(1px)
}
   

}

#checkbox {
    padding:0;
    margin:0;
    height:20px;
    width: 20px;

}

#novedades{
    font-size: 15px;
    padding:0;
    margin:0;
    display:inline-block;
    


}
.etiquetaDos{
    display:inline-block;
    color:$colorGris8;
    font-size: 15px;
    margin: 10px;
    padding:0;

    &:hover {
    color:$colorNegro;
}
}

}

}







/*---------------FIN CONTACTO--------------*/